.background {
  width: 100%;
  height: 100vh;
  background-image: url('UMC_뭔가_간지나는_배경2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 500px;
  background-color: rgba(242, 241, 241, 0.5);
  border-radius: 15px;
}

.h1 {
  font-size: 40px;
  text-align: center;
}

.input-box {
  width: 100%;
  height: 50px;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: none;
}

.input {
  width: 235.05px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
}
.input::placeholder {
  color: white;
}

.submitButton {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 15px;
  margin: 0px 0px 20px 0px;
}

.search {
  width: 100%;
  height: 50px;
  color: white;
}

.error-box {
  position: relative;
}

.error-message {
  position: absolute;
  font-size: 10px;
  color: red;
  bottom: 15px;
  left: 0;
  text-align: left;
}

.error-message2 {
  position: absolute;
  font-size: 10px;
  color: red;
  bottom: 2px;
  left: 0;
  text-align: left;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #888;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-modal:hover {
  background-color: black;
}
